.u-section-1 {min-height: 100vh}
.u-section-1 .u-custom-html-1 {min-height: 591px; margin-top: 0; margin-bottom: 0; margin-left: 598px; height: auto}
.u-section-1 .u-image-1 {width: 168px; height: 168px; background-image: url("images/607919profil.gif"); background-position: 50% 50%; margin: -407px auto 0 calc(((100% - 1140px) / 2) + 333px)}
.u-section-1 .u-text-1 {margin: -146px calc(((100% - 1140px) / 2) + 333px) 0 calc(((100% - 1140px) / 2) + 529px)}
.u-section-1 .u-image-2 {width: 32px; height: 32px; margin: 7px auto 0 calc(((100% - 1140px) / 2) + 529px)}
.u-section-1 .u-image-3 {width: 32px; height: 28px; margin: -30px calc(((100% - 1140px) / 2) + 541px) 0 auto}
.u-section-1 .u-image-4 {width: 32px; height: 28px; margin: -28px calc(((100% - 1140px) / 2) + 501px) 0 auto}
.u-section-1 .u-image-5 {width: 32px; height: 28px; margin: -28px calc(((100% - 1140px) / 2) + 462px) 0 auto}
.u-section-1 .u-btn-1 {border-style: none; font-weight: 700; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; background-image: none; width: 130px; animation-duration: 1000ms; margin: 20px calc(((100% - 1140px) / 2) + 445px) 60px auto} 

@media (max-width: 1199px){ .u-section-1 .u-custom-html-1 {margin-left: initial}
.u-section-1 .u-image-1 {margin-top: -398px; margin-left: calc(((100% - 940px) / 2) + 190px)}
.u-section-1 .u-text-1 {width: auto; margin-top: -144px; margin-right: calc(((100% - 940px) / 2) + 263px); margin-left: calc(((100% - 940px) / 2) + 399px)}
.u-section-1 .u-image-2 {margin-top: 24px; margin-left: calc(((100% - 940px) / 2) + 415px)}
.u-section-1 .u-image-3 {margin-right: auto}
.u-section-1 .u-image-4 {margin-right: calc(((100% - 940px) / 2) + 415px)}
.u-section-1 .u-image-5 {margin-top: -30px; margin-right: calc(((100% - 940px) / 2) + 376px)}
.u-section-1 .u-btn-1 {margin-top: 24px; margin-right: auto; margin-left: 504px} }

@media (max-width: 991px){ .u-section-1 .u-image-1 {margin-top: -424px; margin-left: auto}
.u-section-1 .u-text-1 {margin-top: 34px; margin-left: auto; margin-right: auto}
.u-section-1 .u-image-2 {margin-top: 15px; margin-left: calc(((100% - 720px) / 2) + 287px)}
.u-section-1 .u-image-3 {margin-left: calc(((100% - 720px) / 2) + 330px)}
.u-section-1 .u-image-4 {margin-right: calc(((100% - 720px) / 2) + 319px)}
.u-section-1 .u-image-5 {margin-top: -28px; margin-right: 326px}
.u-section-1 .u-btn-1 {margin-top: 19px; margin-left: auto} }

@media (max-width: 767px){ .u-section-1 .u-image-1 {margin-top: -449px}
.u-section-1 .u-text-1 {margin-top: 43px}
.u-section-1 .u-image-2 {margin-top: 19px; margin-left: calc(((100% - 540px) / 2) + 194px)}
.u-section-1 .u-image-3 {margin-left: calc(((100% - 540px) / 2) + 235px)}
.u-section-1 .u-image-4 {margin-right: calc(((100% - 540px) / 2) + 235px)}
.u-section-1 .u-image-5 {margin-right: calc(((100% - 540px) / 2) + 194px)}
.u-section-1 .u-btn-1 {margin-top: 21px} }

@media (max-width: 575px){ .u-section-1 .u-image-1 {margin-top: -452px}
.u-section-1 .u-text-1 {margin-top: 30px}
.u-section-1 .u-image-2 {margin-top: 12px; margin-left: calc(((100% - 340px) / 2) + 90px)}
.u-section-1 .u-image-3 {margin-left: calc(((100% - 340px) / 2) + 132px)}
.u-section-1 .u-image-4 {margin-right: calc(((100% - 340px) / 2) + 134px)}
.u-section-1 .u-image-5 {margin-right: calc(((100% - 340px) / 2) + 90px)}
.u-section-1 .u-btn-1 {margin-top: 16px} }